@charset "UTF-8" ;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
  --cor1:#3C174D;
  --cor2:#9D4EBF ;
  --cor3: #8a71a1;
  --cor4: #F2C230;
  --cor5: #F6DB68 ;
}

/* Configurações do mapa */
.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

iframe {
  width: 90%;
  max-width: 700px;
  height: 400px;
  border-radius: 15px;
}